@charset "UTF-8";

@keyframes moderada {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}

.bg-moderada {
    background: linear-gradient(to right, #a6c1ee, #fbc2eb);
    background-size: 200% 200%;
    animation: moderada 10s ease-in-out infinite;
}

@keyframes frio {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}

.bg-frio {
    background: linear-gradient(to right, #2889ff, #25d0ff);
    background-size: 200% 200%;
    animation: frio 10s ease-in-out infinite;
}

@keyframes quente {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}

.bg-quente {
    background: linear-gradient(to right, #ff8e31fb, #ff3838); 
    background-size: 200% 200%;
    animation: quente 10s ease-in-out infinite;
}

.flocos, .folhas {
  opacity: 0;
  animation: aparecer 1s forwards, cair 10s linear infinite;
}

@keyframes aparecer {
  to { opacity: 1; }
}

.flocos {
    position: absolute;
    top: -10px;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: cair 10s linear infinite;
}

@keyframes cair {
    0% { transform: translateX(0) translateY(0); }
    100% { transform: translateX(50px) translateY(100vh); }
}

.folhas {
    position: absolute;
    top: -10px;
    width: 12px;
    height: 12px;
    background: #32CD32;
    border-radius: 20% 50%;
    opacity: 0.9;
    animation: voar 12s linear infinite;
}

@keyframes voar {
    0% { transform: translateX(-1) translateY(-1) rotate(-1deg); }
    100% { transform: translateX(200px) translateY(100vh) rotate(360deg); }
}

.sol {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 60px;
    height: 60px;
    background: radial-gradient(circle, #FFD700, #FFA500);
    border-radius: 50%;
    animation: solOscilar 5s ease-in-out infinite alternate;
}

@keyframes solOscilar {
    0% { transform: translateX(-50%) translateY(150%); }
    100% { transform: translateX(-50%) translateY(200%); }
}